{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": 0
  }
}
